{{> navbar}}

<div class="container-sm">
    <div class="mt-5 bg-light mb-3 p-3 border">
        {{> errorAlert}}
        <div class="row my-3 form-group">
        {{#with user}}
            <div class="col-sm-6">
                <h1>Mi usuario: {{username}}</h1>
            </div>
        </div>
        <div class="row my-3">
            <div class="col-sm-12 col-lg-6">
                <div class="my-3 form-group">
                    <h3>Datos obligatorios</h3>
                </div>
                <div class="mb-3 form-group">
                    <b>Email:</b> {{email}}
                </div>
                <div class="mb-3 form-group">
                    <b>Nombre de usuario:</b> {{username}}
                </div>
                <div class="col-sm-6 text-center">
                    {{#if profile_photo}}
                    <img src="/img/profile_photos/{{profile_photo}}" class="profile-photo rounded-circle">
                    {{else}}
                    <b>Sin foto de perfil</b>
                    {{/if}}
                </div>
            </div>
            <div class="col-sm-12 col-lg-6">
                <div class="my-3 form-group">
                    <h3>Datos opcionales</h3>
                </div>
                <div class="mb-3 form-group">
                    {{#if real_name}}
                    <b>Nombre real:</b> {{real_name}}
                    {{else}}
                    <b>Nombre real:</b> Desconocido
                    {{/if}}
                </div>
                <div class="mb-3 form-group">
                    {{#if age}}
                    <b>Edad:</b> {{age}}
                    {{else}}
                    <b>Edad:</b> Desconocida
                    {{/if}}
                </div>
                <div class="mb-3 form-group">
                    {{#if nationality}}
                    <b>Nacionalidad:</b> {{nationality}}
                    {{else}}
                    <b>Nacionalidad:</b> Desconocida
                    {{/if}}
                </div>
                <div class="mb-3 form-group">
                    {{#if hobbies}}
                    <b>Hobbies:</b> {{hobbies}}
                    {{else}}
                    <b>Hobbies: </b> Desconocidos
                    {{/if}}
                </div>
                <div class="mb-3 form-group">
                    {{#if pokemon_favorito}}
                    <b>Pokémon favorito:</b> {{pokemon_favorito}}
                    {{else}}
                    <b>Pokémon favorito:</b> Desconocido
                    {{/if}}
                </div>
            </div>
        {{/with}}
        </div>
        <div class="row my-3 text-center">
            <form action="/home/uploadProfilePhoto" method="POST" class="col-sm-12 col-lg-4"
                enctype="multipart/form-data">
                <button type="submit" class="btn btn-primary btn-lg">Cambiar foto de perfil</button>
                <input type="file" id="profilePhoto" name="profile_photo" accept="image/png, image/jpeg">
            </form>
            <div class="col-sm-12 col-lg-4">
                <a class="btn btn-primary btn-lg" href="/home/change-password">Cambiar contraseña</a>
            </div>
            <div class="col-sm-12 col-lg-4">
                <a class="btn btn-primary btn-lg" href="/home/user-data">Modificar datos</a>
            </div>
        </div>
    </div>
</div>